.imagem1 {
    width: 800px;
}

.conteudo {
    border: 1px solid red;
    /*
    Padding adiciona seu tamanho ao tamanho final da caixa. 
    Exemplo de tenho uma caixa com 150px e um padding de 20px
    minha caixa tem no total 170px de medida
    */
    
    /*
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */

    padding: 20px;
    width: 275px;
    margin: 20px;

}