body {
    background: #f4f4f4;
}

#principal {
    width: 920px;
}

.noticia {
    background: #e5e5e5;
    padding: 5px;
    margin: 7px;
    width: 280px;
    float: left;
}

.imagem-galeria {
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
}

.clear {
    clear: both;
}